input[type=text], select, textarea {
    width: 400px;
    padding: 12px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

input[type=password], select, textarea {
    width: 400px;
    padding: 12px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

input[type=submit], button[type=submit], input[type=reset] {
    background-color: #66c2ff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type=submit]:hover, button[type=submit]:hover, input[type=reset]:hover {
    background-color: #39b0ff;
}

html * {
    font-family: Arial !important;
}

body
{	
	background-color: white;
	text-align: center;
}

p{
    font-family: monospace, Droid Sans, Arial, cursive;
    	
}

.header {
    background-color: #d9d9d9;
    text-align: center;
    padding: 10px;
}

.close{
    float: right;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
	left: 0;
	top: 0;
}

.modal_content {
	margin: 20% auto;
	width: 20%;
    border: 1px;
    background-color: white;
    height: 20%;
}

.success-alert{
	display: inline-block;
	background-color: DarkBlue;
	color: white;

}

.hidden{
    color: #d9d9d9;
}

.navBar{
	display: block;
	background-color: DodgerBlue;
	white-space: nowrap;
	padding: 20px 7px 20px 7px;
}

.testNavBar {
    display: block;
    background-color: #555;
    white-space: nowrap;
	padding: 0px 0px 0px 0px;
}

.testNavBar li{
    display: block;
    float: left;
    color: white;
    text-align: center;
}

.testNavBar li a{
    display: block;
    color: white;
    padding: 12px 14px;
    text-align: center;
    text-decoration: none;
}

.testNavBar li a:hover:not(.active) {
    background-color: #333;
}

.testNavBar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #555;
    position: sticky;
    top: 0;
    justify-content: center !important;

}

.testpiece{
	background-color: #555;
	color: white;
	padding: 10px 10px 10px 10px;
	text-align: center;
	font-style: italic;
}

.active { 
    background-color: #66c2ff;
}

.piece{
	background-color: DodgerBlue;
	color: darkblue;
	padding: 0px 7% 0px 7%;
	text-align: center;
	font-style: italic;
}

.toolCell{
    background-color: DodgerBlue;
    color: darkblue;
    padding: 0px 15px 0px 15px;
    font-style: italic;

    border-top: 5px solid SteelBlue;
    border-bottom: 5px solid SteelBlue;
}

.rightsReserved{
    margin-top: 115px;
    font-style: italic;
}

.redBar{
	background-color: red
}

.container {
    text-align: left;
    display: inline-block;
}

.slide{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 400px;
}

#submitModal {
    top: inherit;
}