<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" th:href="@{/stylesheet.css}" type="text/css"/>
        <title>Tool WareHouse Checkout</title>
    </head>
    <body>

    <h1> CHECKOUT PAGE </h1>
    <img src="TheWarehouseLogo-FINAL2.png" alt="logo" style="width:300px;height:100px">

    <header class = "navBar">
        <span class="piece"><a href = "/signin"> Sign in </a></span>
        <span class="piece"><a href = "/signup"> Sign up </a></span>
        <span class="piece"><a href = "/tools">  Tools </a></span>
        <span class="piece"><a href = "/index"> Home </a></span>
        <span class="piece"><a href = "/checkout">  Checkout </a></span>
        <span class="piece"><a href = "/projects">  Projects </a></span>
    </header>


    <button id="checkoutSubmitButton">Checkout</button> 
    <div class="modal" id="checkoutModal">
        <div class="modal_content">
            <button class="close" id="modalCloseButton">X</button>
            <div id="submitModal">
                <p>Submission has been accepted</p>
            </div>
        </div>
    </div>

    <script type="text/javascript" th:src="@{/checkout.js}"></script>
    <p class="rightsReserved">All Rights Reserved. Group Name Inc.</p>
    <img src="TheWarehouseLogo-FINAL2.png" alt="logo" style="width:75px;height:25px">
    <footer class="navBar">
        <span class="piece"><a href = "/contactus"> Contact Us </a></span>
    </footer>
    </body>
</html>