<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="utf-8"/>
            <link rel="stylesheet" href="stylesheet.css" type="text/css"/>
            <title>Tool WareHouse Checkout</title>
        </head>
        <body>

    <h1> CHECKOUT PAGE </h1>
    <img src="TheWarehouseLogo-FINAL2.png" alt="logo" style="width:300px;height:100px">

        <header class = "navBar">
            <span class="piece"><a href = "/signin"> Sign in </a></span>
            <span class="piece"><a href = "/signup"> Sign up </a></span>
            <span class="piece"><a href = "/tools">  Tools </a></span>
            <span class="piece"><a href = "/index"> Home </a></span>
            <span class="piece"><a href = "/checkout">  Checkout </a></span>
	</header>

	<p> This is the checkout page. Checkout stuff goes here. <br><br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id eleifend magna, eu vehicula nisl. Praesent pharetra risus ut turpis tristique sagittis ut eu est. Vestibulum diam dui, gravida eu erat ut, dictum semper ante. Pellentesque in risus magna. Nam nec magna non enim fringilla pretium semper in ante. Nullam turpis ante, viverra vitae commodo in, mollis a erat. Mauris fringilla consectetur magna nec ullamcorper. Maecenas efficitur vel arcu non molestie. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras elementum molestie purus quis ornare. In at dignissim est. Proin id condimentum odio. Etiam lobortis neque sed elit molestie iaculis vitae id ante. Nunc lacinia non ante ut vehicula.</p>

        <p class="rightsReserved">All Rights Reserved. Group Name Inc.</p>
        <img src="TheWarehouseLogo-FINAL2.png" alt="logo" style="width:75px;height:25px">
        </body>
    </html>