<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="stylesheet.css" type="text/css"/>
        <title>Contact Us</title>
    </head>
    <body>
        <h1>Contact Us</h1>
        <header class = "navBar">
                <span class="piece"><a href = "/signin"> Sign in </a></span>
                <span class="piece"><a href = "/signup"> Sign up </a></span>
                <span class="piece"><a href = "/tools">  Tools </a></span>
                <span class="piece"><a href = "/index"> Home </a></span>
                <span class="piece"><a href = "/checkout">  Checkout </a></span>
                <span class="piece"><a href = "/projects">  Projects </a></span>
        </header>
        <div>
            <p>Fill out the form below to ask us a question!</p>
            <div class="container">
                <form action="contactUs.html" method="post" enctype="text/plain">
                    <label for="fname">First Name</label>
                    <br>
                    <input type="text" id="fname" name="firstname" placeholder="First Name">
                    <br>
                    <label for="lname">Last Name</label>
                    <br>
                    <input type="text" id="lname" name="lastname" placeholder="Last Name">
                    <br>
                    <label for="email">Email</label>
                    <br>
                    <input type="text" id="email" name="emailaddress" placeholder="Email">
                    <br>
                    <label for="content">Content</label>
                    <br>
                    <textarea id="content" name="content" placeholder="Something wrong? Let us know!" style="height:200px"></textarea>
                    <br>
                    <input type="submit" value="Send">
                </form>
            </div>
        </div>
        <br>
        <p class="rightsReserved">All Rights Reserved. Group Name Inc.</p>
        <img src="TheWarehouseLogo-FINAL2.png" alt="logo" style="width:75px;height:25px">
        <footer class="navBar">
            <span class="piece"><a href = "/contactUs"> Contact Us </a></span>
        </footer>
    </body>
</html>