<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" th:href="@{/stylesheet.css}" type="text/css"/>
        <title>Contact Us</title>
    </head>
    <body>
        <div th:if="${formSuccess}">
            <div class = "success-alert" id = "formSuccessAlert" style = "display:none;">
                <p th:text="${successMessage}"></p>
            </div>
            <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
            <script>
            //When the page has loaded.
            $( document ).ready(function(){
                $('#formSuccessAlert').fadeIn('slow', function(){
                   $('#formSuccessAlert').delay(3000).fadeOut(); 
                });
            });
            </script>
        </div>
        <h1>Contact Us</h1>
        <header class = "navBar">
                <span class="piece"><a href = "/signin"> Sign in </a></span>
                <span class="piece"><a href = "/signup"> Sign up </a></span>
                <span class="piece"><a href = "/tools">  Tools </a></span>
                <span class="piece"><a href = "/index"> Home </a></span>
                <span class="piece"><a href = "/checkout">  Checkout </a></span>
                <span class="piece"><a href = "/projects">  Projects </a></span>
        </header>
        <div>
            <p>Fill out the form below to ask us a question!</p>
            <div class="container">
                <form th:action="@{/contact-form}" th:object="${contactForm}" method="POST">
                    <input type="text" id="fname" th:field="*{firstName}" name="firstname" placeholder="First Name"><br>
                    <input type="text" id="lname" th:field="*{lastName}" name="lastname" placeholder="Last Name"><br>
                    <input type="text" id="email" th:field="*{email}" name="emailaddress" placeholder="Email"><br>
                    <textarea id="content" name="content" th:field="*{message}" placeholder="Something wrong? Let us know!" style="height:200px"></textarea><br>
                    <input type="submit" value="Send">
                </form>
            </div>
        </div>
        <br>
        <p class="rightsReserved">All Rights Reserved. Group Name Inc.</p>
        <img src="TheWarehouseLogo-FINAL2.png" alt="logo" style="width:75px;height:25px">
        <footer class="navBar">
            <span class="piece"><a href = "/contactus"> Contact Us </a></span>
        </footer>
    </body>
</html>