<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" th:href="@{/stylesheet.css}" type="text/css"/>
        <title>Tool WareHouse Employee Portal</title>
    </head>

    <body>
   
    <div class="header">
        <h1> Employee Portal </h1>
        <img src="TheWarehouseLogo-FINAL2.png" alt="logo" style="width:300px;height:100px">f
        <p th:if="${addedSuccess}" style="float: right;" th:text="${'Welcome ' + name}"></p>
    </div>
    
    <header class ="testNavBar">
        <ul>
            <li><a href="/signin">Sign In</a></li>
            <li><a href="/signup">Sign up</a></li>
            <li><a href="/tools">Tools</a></li>
            <li><a href="/index">Home</a></li>
            <li><a href="/checkout">Checkout</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a class="active" href="/employeePortal">Employee Portal</a></li>
            <li><a href="/ledger">Ledger</a></li>
            <li style="float:right"><a href="/contactus">Contact Us</a></li>
        </ul>
    </header>

    <div>
        <form th:action="@{/customer/lookup}" th:object="${lookupDto}" method="POST">
            <input type="text" th:field="*{id}" placeholder="Customer ID">
            <button type="submit" th.text="#{label.form.submit}">Search</button> <input type="reset" value="Reset" /> <br />
        </form>
    </div>
    <div th:if="${error}">
        <p style="color: red;">Can't Find User. Please Try Again</p>
    </div>
    <div th:if="${found}">
        <table align="center">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>ID</th>
                <th>Age</th>
                <th>Gender</th>
            </tr>
            <tr>
                <td th:text="${customer.firstName}"></td>
                <td th:text="${customer.lastName}"></td>
                <td th:text="${customer.id}"></td>
                <td th:text="${customer.age}"></td>
                <td th:text="${customer.gender}"></td>
            </tr>
        </table>
        <h3>Checked Out Tools</h3>
        <table align="center">
            <tr>
                <th>Category</th>
                <th>Name</th>
            </tr>
            <tr class="toolCell" th:each="tool:${tools}">
                <td class="toolCell" th:text="${{tool.category}}"></td>
                <td class="toolCell" th:text="${{tool.name}}"></td>
                <td class="toolCell">
                    <form th:action="@{/customer/removeCheckout}" th:object="${removeToolDto}" method="POST">
                        <input type="hidden" th:name="userId" th:value="${{customer.id}}">
                        <input type="hidden" th:name="toolId" th:value="${{tool.id}}">
                        <button type="submit" th.text="#{label.form.submit}">Remove/CheckIn</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
    
    <p class="rightsReserved">All Rights Reserved. Group Name Inc.</p>
    <img src="TheWarehouseLogo-FINAL2.png" alt="logo" style="width:75px;height:25px">
        
    </body>
</html>
