<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="utf-8"/>
            <link rel="stylesheet" href="style.css" type="text/css"/>
            <title>Tool WareHouse</title>
        </head>
        <body>
        <h1 align="center">Tool Rental WareHouse</h1>
            <p>The button should do something</p>
			<div>
				<button type="submit"> 
					Button
				</button>
			</div>
        <p align="center">All Rights Reserved. Group Name Inc.</p>
        </body>
    </html>
