<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" th:href="@{/stylesheet.css}" type="text/css"/>
        <title>Tool WareHouse Home</title>
    </head>

    <body>
    <div th:if="${addedSuccess}">
        <div class = "success-alert" id = "indexSuccessAlert" style = "display:none;">
            <p th:text="${alert_message + ' ' + name}"></p>
        </div>
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script>
        //When the page has loaded.
        $( document ).ready(function(){
            $('#indexSuccessAlert').fadeIn('slow', function(){
               $('#indexSuccessAlert').delay(3000).fadeOut(); 
            });
        });
        </script>
    </div>
    <div class="header">
        <h1> MAIN PAGE </h1>
        <img src="TheWarehouseLogo-FINAL2.png" alt="logo" style="width:300px;height:100px">
        <div th:if="${employee}" style="float: right;">
            <a href="/employeePortal">Employee Portal</a>
        </div>
        <p th:if="${addedSuccess}" style="float: right;" th:text="${'Welcome ' + name}"></p>
    </div>
    
    <header class ="testNavBar">
        <ul>
            <li><a href="/signin">Sign In</a></li>
            <li><a href="/signup">Sign up</a></li>
            <li><a href="/tools">Tools</a></li>
            <li><a class="active" href="/index">Home</a></li>
            <li><a href="/checkout">Checkout</a></li>
            <li><a href="/projects">Projects</a></li>
            <li style="float:right"><a href="/contactus">Contact Us</a></li>
        </ul>
    </header>

    <img class="slide" src="drill-444499_1920.jpg">
    <img class="slide" src="tools-864983_1920.jpg">
    <img class="slide" src="tools-1209764_1920.jpg">

    <div>
        <img class="slide" src="drill-444499_1920.jpg">
        <img class="slide" src="screwdriver-33634_1280.png">
        <img class="slide" src="tools-864983_1920.jpg">
        <img class="slide" src="tools-1209764_1920.jpg">
    </div>
    
    <script type="text/javascript" src="carousal.js"></script>

	<p> This is the home page. Home page stuff goes here. <br><br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id eleifend magna, eu vehicula nisl. Praesent pharetra risus ut turpis tristique sagittis ut eu est. Vestibulum diam dui, gravida eu erat ut, dictum semper ante. Pellentesque in risus magna. Nam nec magna non enim fringilla pretium semper in ante. Nullam turpis ante, viverra vitae commodo in, mollis a erat. Mauris fringilla consectetur magna nec ullamcorper. Maecenas efficitur vel arcu non molestie. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras elementum molestie purus quis ornare. In at dignissim est. Proin id condimentum odio. Etiam lobortis neque sed elit molestie iaculis vitae id ante. Nunc lacinia non ante ut vehicula.</p>

        <p class="rightsReserved">All Rights Reserved. Group Name Inc.</p>
        <img src="TheWarehouseLogo-FINAL2.png" alt="logo" style="width:75px;height:25px">
        
    </body>
</html>
