<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" th:href="@{/stylesheet.css}" type="text/css"/>
        <title>Tool WareHouse Home</title>
    </head>

    <body>
    <div th:if="${addedSuccess}">
        <div class = "success-alert" id = "indexSuccessAlert" style = "display:none;">
            <p th:text="${alert_message + ' ' + name}"></p>
        </div>
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script>
        //When the page has loaded.
        $( document ).ready(function(){
            $('#indexSuccessAlert').fadeIn('slow', function(){
               $('#indexSuccessAlert').delay(3000).fadeOut(); 
            });
        });
        </script>
    </div>
    <div th:if="${addedFailed}">
        <div class = "failed-alert" id = "indexFailedAlert" style = "display:none;">
            <p th:text="${alert_message}"></p>
        </div>
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script>
        //When the page has loaded.
        $( document ).ready(function(){
            $('#indexFailedAlert').fadeIn('slow', function(){
               $('#indexFailedAlert').delay(3000).fadeOut(); 
            });
        });
        </script>
    </div>
    
    <!--the next two lines needs to be placed together -->
    <h4 class="hidden" th:if="${signedIn}" align="left" style="float: left;" color=#d9d9d9 th:text="${'Welcome ' + name}"></h4>
    <h4  th:if="${signedIn}" align="right" style="float: right;"><a th:text="${'Welcome ' + name}" href="/userPortal"></a></h4>

    <div class="header">
        <h1> MAIN PAGE </h1>
        <img align="center" src="TheWarehouseLogo-FINAL2.png" alt="logo" style="width:300px;height:100px"></img>
    </div>

   
    
    <header class ="testNavBar">
        <ul>
            <li><a href="/signin">Sign In</a></li>
            <li><a href="/signup">Sign up</a></li>
            <li><a href="/tools">Tools</a></li>
            <li><a class="active" href="/index">Home</a></li>
            <li><a href="/checkout">Checkout</a></li>
            <li><a href="/projects">Projects</a></li>
            <li th:if="${employee}"><a href="/employeePortal">Employee Portal</a></li>
            <li th:if="${employee}"><a href="/ledger">Ledger</a></li>
            <li style="float:right"><a href="/contactus">Contact Us</a></li>
        </ul>
    </header>

    <h3>Welcome to The Warehouse Rentals and Suppleis</h3>

    <img class="slide" src="drill-444499_1920.jpg">
    <img class="slide" src="tools-864983_1920.jpg">
    <img class="slide" src="tools-1209764_1920.jpg">

    <div>
        <img class="slide" src="drill-444499_1920.jpg">
        <!-- <img class="slide" src="screwdriver-33634_1280.png"> -->
        <img class="slide" src="tools-864983_1920.jpg">
        <img class="slide" src="tools-1209764_1920.jpg">
    </div>
    
    

    <script type="text/javascript" src="carousal.js"></script>
  
    <h4>Our Mission:</h4>
    <p>
        You need tools? We have them! With a wide variety of tools from house work to bike repairs. Simply sign in or create an account to check out tools.
    </p>
    <p>Users must be 18 or older in order to check out tools.</p>

        <p class="rightsReserved">All Rights Reserved. Group Name Inc.</p>
        <img src="TheWarehouseLogo-FINAL2.png" alt="logo" style="width:75px;height:25px">
        
    </body>
</html>
