<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="utf-8"/>
            <link rel="stylesheet" th:href="@{/stylesheet.css}" type="text/css"/>
            <title>Tool WareHouse Customer Projects</title>
        </head>
        <body>


    <h4 class="hidden" th:if="${signedIn}" align="left" style="float: left;" color=#d9d9d9 th:text="${'Welcome ' + name}"></h4>
    <h4  th:if="${signedIn}" align="right" style="float: right;" th:text="${'Welcome ' + name}"></h4>

    <div class="header">
        <h1>What our Tools help You Do</h1>
        <img src="TheWarehouseLogo-FINAL2.png" alt="logo" style="width:300px;height:100px">
    </div>

    <header class ="testNavBar">
        <ul>
            <li><a href="/signin">Sign In</a></li>
            <li><a href="/signup">Sign up</a></li>
            <li><a href="/tools">Tools</a></li>
            <li><a href="/index">Home</a></li>
            <li><a href="/checkout">Checkout</a></li>
            <li><a class="active" href="/projects">Projects</a></li>
            <li th:if="${employee}"><a href="/employeePortal">Employee Portal</a></li>
            <li th:if="${employee}"><a href="/ledger">Ledger</a></li>
            <li style="float:right"><a href="/contactus">Contact Us</a></li>
        </ul>
    </header>

    <img src="15-Safety-Tools-and-Gears-you-Should-Have-in-your-Woodworking-Shop.jpg" alt="people working on our tools" style="width:700px;height:500px">
    <h4>Sandy</h4>
	<p>
        Last summer, Sandy wanted to add a pergola to her back patio. However, to save her from the hassle of hiring workers to do it for her and risk something going wrong.
        She came into The Warehouse and was able to rent the perfect tools for her job! "The tools worked great and really saved me a lot of money on this project." -Sandy.
    </p>

    <img src="hqdefault.jpg" alt="people using our tools" style="width:700px;height:500px">
	<p>
        After a long day of sitting in a cubicle, Brad(left) was aggrivated with his same routine everyday. So he called up his buddies Chad, Thad, and Mike (left to right).
        Together, they made their way down to the Warehouse to ease some stress. With no specific project in mind, the four browsed around a while before coming up with the idea to
        build a "Man Shack" in their words. This is just a shed where the guys can be dudes and hang out. TV's, Beer, Video games, Everything a man could need to escape from his day to day life.
        "The Warehouse is like a playground for MEN!" -Thad. "I will tell all my friends about the awesome Man Shack we built" -Chad "The Man Shack is the greatest place in our town,
        I've already got multiple wins in fortnite with no distractions" -Brad
    </p>
       
    <img src="todo_people_working_cooperatively_repair_affair_photo_facebook.com.widea.jpg" alt="people using our tools" style="width:700px;height:500px">
	<p>
        This picture was taken shortly after Hurricane Wreckage destroyed half of the town. Luckily The Warehouse was built entirely with tools from our inventory and took little to
        no damage during the storm. This young healthy group of friends decided they were going to fix everyones stairs that were destroyed in the gruesome strom. With no tools they 
        came to the right place and were able to get everything they needed to repair the stairs. With two weeks work and lots of hands, they were able to repair/build over 50 stair ways!
    </p>
       
        <p class="rightsReserved">All Rights Reserved. Group Name Inc.</p>
        <img src="TheWarehouseLogo-FINAL2.png" alt="logo" style="width:75px;height:25px">
        </body>
    </html>