<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" th:href="@{/stylesheet.css}" type="text/css"/>
        <title>Tool WareHouse Sign In</title>
    </head>
    <body>

        <div class="header">
            <h1>SIGN IN PAGE</h1>
            <img src="TheWarehouseLogo-FINAL2.png" alt="logo" style="width:300px;height:100px">
        </div>
        <header class ="testNavBar">
            <ul>
                <li><a class="active" href="/signin">Sign In</a></li>
                <li><a href="/signup">Sign up</a></li>
                <li><a href="/tools">Tools</a></li>
                <li><a href="/index">Home</a></li>
                <li><a href="/checkout">Checkout</a></li>
                <li><a href="/projects">Projects</a></li>
                <li th:if="${employee}"><a href="/employeePortal">Employee Portal</a></li>
                <li th:if="${employee}"><a href="/ledger">Ledger</a></li>
                <li style="float:right"><a href="/contactus">Contact Us</a></li>
            </ul>
        </header>

        <div th:if="${activeUser}">
            <p>Already Signed in</p>
            <span>
                <a href="customer/signout">Sign Out</a>
            </span>
        </div>
        <p>Sign In here!</p>
        <div class="container" th:unless="${activeUser}">
            <div th:if="${signInError}">
                <p th:text="${error_message}"></p>
            </div>
            <form action = "/customer/signin" th:action="@{/customer/signin}" th:object="${loginUser}" method="POST">
                <input type="text" th:field="*{username}" placeholder="Username"/> <br/>
                <input type="password" th:field="*{password}" placeholder="Password"/> <br/>
                <button type="submit" th.text="#{label.form.submit}">Log In</button> <input type="reset" value="Reset" /> <br />
            </form>
        </div>
        
        <p class="rightsReserved">All Rights Reserved. Group Name Inc.</p>
        <img src="TheWarehouseLogo-FINAL2.png" alt="logo" style="width:75px;height:25px">
    </body>
</html>