<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="stylesheet.css" type="text/css"/>
        <title>Tool WareHouse Sign Up</title>
    </head>
    <body>

    <h1> SIGN UP PAGE </h1>
    <img src="TheWarehouseLogo-FINAL2.png" alt="logo" style="width:300px;height:100px">


    <header class = "navBar">
            <span class="piece"><a href = "/signin"> Sign in </a></span>
            <span class="piece"><a href = "/signup"> Sign up </a></span>
            <span class="piece"><a href = "/tools">  Tools </a></span>
            <span class="piece"><a href = "/index"> Home </a></span>
            <span class="piece"><a href = "/checkout">  Checkout </a></span>
            <span class="piece"><a href = "/projects">  Projects </a></span>

	</header>
    
    <div class="forms">
        <form action = "/customer" th:action="@{/customer}" th:object="${customer}" method="POST">
                <div>
                    First Name: <input type="text" th:field="*{firstName}" /> <br /><br />
                </div>
                <div>
                    Last Name: <input type="text" th:field="*{lastName}" /> <br /> <br />
                </div>
                <div>
                    Age: <input type="text" th:field="*{age}" /> <br /><br />
                </div>
                <div>
                    Gender: <input type="text" th:field="*{gender}" /> <br /><br />
                </div>
                <div>
                    Username: <input type="text" th:field="*{username}"/> <br/><br/>
                </div>
                <div>
                    Password: <input type="text" th:field="*{password}" /> <br /><br />
                </div>
                <div>
                    <button type="submit" th.text="#{label.form.submit}">Submit</button> <input type="reset" value="Reset" /> <br />
                </div>
        </form>
    </div>       
    <p class="rightsReserved">All Rights Reserved. Group Name Inc.</p>
    <img src="TheWarehouseLogo-FINAL2.png" alt="logo" style="width:75px;height:25px">
    </body>
</html>