<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" th:href="@{/stylesheet.css}" type="text/css"/>
        <title>Tool WareHouse Sign Up</title>
    </head>
    <body>

    <h4 class="hidden" th:if="${signedIn}" align="left" style="float: left;" color=#d9d9d9 th:text="${'Welcome ' + name}"></h4>
    <h4  th:if="${signedIn}" align="right" style="float: right;"><a th:text="${'Welcome ' + name}" href="/userPortal"></a></h4>

    <div class="header">
        <h1>SIGN UP PAGE</h1>
        <img src="TheWarehouseLogo-FINAL2.png" alt="logo" style="width:300px;height:100px">
    </div>
    <header class ="testNavBar">
        <ul>
            <li><a href="/signin">Sign In</a></li>
            <li><a class="active" href="/signup">Sign up</a></li>
            <li><a href="/tools">Tools</a></li>
            <li><a href="/index">Home</a></li>
            <li><a href="/checkout">Checkout</a></li>
            <li><a href="/projects">Projects</a></li>
            <li th:if="${employee}"><a href="/employeePortal">Employee Portal</a></li>
            <li th:if="${employee}"><a href="/ledger">Ledger</a></li>
            <li style="float:right"><a href="/contactus">Contact Us</a></li>
        </ul>
    </header>
    
    <p>Create an Account Here.</p>
    <div class="container">
        <form action = "/customer" th:action="@{/customer}" th:object="${customer}" method="POST">
            <input type="text" th:field="*{firstName}" placeholder="First Name"/> <br/>
            <input type="text" th:field="*{lastName}" placeholder="Last Name"/> <br/> 
            <input type="text" th:field="*{age}" placeholder="Age"/> <br/>
            <input type="text" th:field="*{gender}" placeholder="Gender"/> <br/>
            <input type="text" th:field="*{username}" placeholder="Username"/> <br/>
            <input type="password" th:field="*{password}" placeholder="Password"/> <br/>
            <button type="submit" th.text="#{label.form.submit}">Submit</button> <input type="reset" value="Reset" /> <br />
        </form>
    </div>       
    <p class="rightsReserved">All Rights Reserved. Group Name Inc.</p>
        <img src="TheWarehouseLogo-FINAL2.png" alt="logo" style="width:75px;height:25px">
    </body>
</html>