body
{	
	background-color: SteelBlue;
	text-align: center;
}

p{
    	font-family: monospace, Droid Sans, Arial, cursive;
    	font-style: italic;
    	background-color: SkyBlue;
}

.navBar{
	display: block;
	background-color: DodgerBlue;
	white-space: nowrap;
	padding: 20px 7px 20px 7px;
}

.piece{
	background-color: DodgerBlue;
	color: darkblue;
	padding: 0px 7% 0px 7%;
	text-align: center;
	font-style: italic;
}

.rightsReserved{
	margin-top: 115px;
	background-color: SteelBlue;
}

.redBar{
	background-color: red
}

input[type=text], select, textarea {
    width: 400px;
    padding: 12px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

input[type=password], select, textarea {
    width: 400px;
    padding: 12px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

input[type=submit], button[type=submit], input[type=reset] {
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container {
    text-align: left;
    display: inline-block;
}