body
{	
	background-color: SteelBlue;
	text-align: center;
}

p{
    	font-family: monospace, Droid Sans, Arial, cursive;
    	font-style: italic;
    	background-color: SkyBlue;
}

.navBar{
	display: block;
	background-color: DodgerBlue;
	white-space: nowrap;

	padding: 20px 7px 20px 7px;
}

.piece{
	background-color: DodgerBlue;
	color: darkblue;
	padding: 0px 7% 0px 7%;
	text-align: center;
	font-style: italic;
}

.rightsReserved{
	margin-top: 215px;
	background-color: SteelBlue;
}

.redBar{
	background-color: red
}